@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
:root{
   --body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   --title-font-family: 'Barlow Semi Condensed';
   --head-bold-font-family: "Montserrat"; 
   --background-image-gredient: linear-gradient(to right,#1976bc 0%,#8dc645 100%);
    --color-button-primery-background: #1976bc;
    --color-button-secondary-background: #8dc645;
    --text-hover-color:#1976bc;
    --bg-body:#FAFBFC;
  --bg-card:#FFFFFF;
  --bg-bth:#7B68EE;

  --text-col-header:#292D34;
  --text-col:#292D34;
  --text-col-label:#393D42;
  --text-col-icon:#BCC0C9;
  --text-col-error:#ff3333;
  --text-col-success:#5cb85c;
}
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
*,*:focus{
  outline: none;
  outline: 0;
}
html{
  font-size: 16px;
}
html,body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none !important;
}
body{
  font-family: "Barlow",Arial,Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.75em;
  background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background-attachment: fixed; */
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #a81919; */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #efe3e3;
  background-image:linear-gradient(to top,#1976bc 0%,#8dc645 100%);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #09a6e9;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
.section{
  transition: transform 1s, opacity 1s;
}
.section--hidden{
  opacity: 0;
  transform: translateY(6rem);
}

.btn,
  .btn:link,
  .btn:visited {
    font-size: 1. 4vmax;
    padding: 1vmax 2vmax;
    border-radius: 2vmax;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*Add later when we use this for the button in form*/
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1vmax 2vmax rgba(0, 0, 0, 0.15);
    box-shadow: 0 1vmax 2vmax rgba(0, 0, 0, 0.15);
  }
  
  .btn:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5vmax 1vmax rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5vmax 1vmax rgba(0, 0, 0, 0.15);
  }
  
  .btn:focus {
    outline: none;
    background-color: #2e864b;
  }
  
  .btn--white {
    background-color: #fff;
    color: #777;
  }
  .btn--white::after {
    background-color: #fff;
  }
  
  .btn--green {
    background-color: #55c57a;
    color: #fff;
  }
  .btn--green::after {
    background-color: #55c57a;
  }
  

  .marker {
    background-image: url('./Assests/img/pin.png');
    background-size: cover;
    width: 32px;
    height: 40px;
    cursor: pointer;
  }
  
  .mapboxgl-popup {
    max-width: 2rem;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 1rem !important;
    font-size: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  }

  /*Remove Arrow function from input fields*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {-moz-appearance: textfield;}
.acessDenied{display: table;  height: calc(100vh - 90px); width: 100%;   text-align: center;background-image: linear-gradient(to bottom, rgb(111 180 241 / 72%), rgb(93 204 131 / 48%))}
.acessDenied div{display: table-cell; vertical-align: middle;  text-align: center;  color: #181818;   font-size: 20px;   text-shadow: 3px 2px 2px #fff;}

#loadingWait, #waitLoading {
  font-weight: bold;
  position: fixed;
  z-index: 5001;
  background-color: rgba(0, 0, 0, 0.29);
  width: 100%;
  height: 100%;
  top: 0px;
}
.appLoader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -24px 0px 0px -24px;
}
@keyframes rotation{
  0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

.appLoader::after, .appLoader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #0A2B79;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.appLoader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
}
.notFound{
  width:100%;
  text-align:center;
  grid-column:1/-1;
  padding-bottom:30px;
  color:red;
  text-transform: capitalize;
}

.formInput{position: relative;}
.pointer{cursor: pointer;}
table .btn{
  padding: 8px;
  font-size: 10px;
  margin: 5px;
}
button.btn-primary{
  background: var(--bg-bth) !important;
  outline: none !important;
  border: none !important;
  text-align: center !important;
}
input::placeholder{
  color: var(--text-col-icon) !important;
  font-size: 14px;
  display: flex;
  align-items: center !important;
  padding: inherit;
  padding-left: 0px !important;
}
input.invalid::placeholder{
  color: var(--text-col-error) !important;
}
input{
  padding-left: 8px !important;
  box-shadow: inherit !important;
  outline: none;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}
input.leftIcon{
  padding-left: 35px !important;
}
label{
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 8px;
}

input.invalid{
  border: 1px solid var(--text-col-error) !important;
  color: var(--text-col-error) !important;
  animation: shake 300ms;
}
.error-message,.error-message i{
  font-size: 10px;
  color: var(--text-col-error);
}
.formInput>i{
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  padding-left: 12px !important;
  color: var(--text-col-icon);
}
.formInput>i.invalid{
  color: var(--text-col-error);
}

input.valid,i.valid {
  color: var(--text-col-success) !important;
  border-color: var(--text-col-success) !important;
}
.header{
  position: relative;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center !important;
  background-color: var(--bg-bth);
  color: #fff;
  width: 100%;
  height: 55px;
  position: fixed !important;
  top: 0px;
  padding: 0 50px !important; 
}
.tableContainer{
  margin-top: 60px;
  position: relative;
}
.tableContainer .tableFixHead{
  position: absolute;
  top: 20%;
  left: 50%;
  width: 90vw;
  height: 80vh;  
  transform: translate(-50%,10%);
  background-color: rgba(225, 200, 200, 0);  
  overflow-y: auto;
  box-shadow: 0px 0px 10px 1px rgba(146, 176, 145, 0.19);
  border-radius: 10px;
  border: 1px solid #e3dfdf;
}
.tableFixHead{ 
  overflow: auto; 
  height: 100px; 
}
.tableFixHead thead th { 
  position: sticky; 
  top: 0; 
  z-index: 1; 
}

table  { 
  border-collapse: collapse; 
  width: 100%; 
}
th, td{
   padding: 8px 16px; 
   text-align: center;
}
th{ 
  background:#eee; 
  text-align: center !important;
}
.noDataFound{
  text-align: center;
  color:var(--text-col-error);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
.daterangepicker .drp-calendar{
  max-width: inherit !important;
}
@keyframes shake {
  0%,100%{
    transform: translate(0);
  }
  25%{
    transform: translate(0.125rem);
  }
  75%{
    transform: translate(-0.125rem);
  }
}