footer.footer 
    .footer__logo 
        img(src="/img/logo-green.png", alt="Natour logo")
    ul.footer__nav
        li: a(href='#') About us  
        li: a(href='#') About us  
        li: a(href='#') About us  
        li: a(href='#') About us  
        li: a(href='#') About us
    p.footer__copyright &copy; by Banty. Feel free to use this project for your own purpose, EXCEPT producing your own course or tutorials!    
