input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-container form{
    padding: 26px;
}

.form-container form input{
    outline: none;
    margin: 1px;
    background: white;
    border: 1px solid #d6d5d5;
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.1);
}
.form-container form input::placeholder{
    position: relative;
    text-transform: capitalize;
}
.form-container form>input[type='number']{
    width: 8vmax;
    margin-left: 10px;
}




.home-form-container,.allTour-form-container{
    text-align: center;
    margin-top: -85px;
    background-image: var(--background-image-gredient);
    /* box-shadow: 0px 5px 5px 14px linen ; */
}

.home-form{
    padding: 20px 20px 0px 20px;
    height: fit-content;
    
}
.home-form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top: 45px;
    padding: 10px 30px;
    background: white;
    border-bottom: 2px solid transparent; 
    border-image-slice: 1;
    border-image-source: var(--background-image-gredient);
}
.home-form form>input{
    margin: 15px;
    padding: 15px 15px;
    background: white;
    border: 1px solid #d6d5d5;
    flex: auto;
}
.home-form form>:first-child{
    display: none;
}

.home-form-container>span{
    font-size: 50px;
    position: relative;
    top: 40px;
    font-weight: 700;
    font-family: var(--body-font-family);
    color: #f8f2f2;
    letter-spacing: -0.06em;
}

.allTour-form-container{
    margin: 0px;
    background-image: none;
}
.allTour-form form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.categories{
    display: flex;
    width: 68vw;
    margin: auto 0px 0px 60px;
    color: #3d3d3d;
    font-family: var(--body-font-family);
    height: 80px;
    align-items: center;
}
.categories>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.categories>strong{
    color: #1976bc;
}
.categories>strong>i{
    opacity: 0;
    /* display: none; */
}
.categories>div>input{
    margin: 0px 4px 0px 20px;
    cursor: pointer;
}
.categories>label{
    text-transform: capitalize;
}
.sortedBy{
    /* position: absolute; */
    margin-left: auto;
    margin-top: -70px;
    margin-right: 55px;
    width: 16vmax;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
}


@media only screen and (max-width:600px){
    .home-form-container{
        margin-top:145px
      }
      .form-container form input{
          padding: 10px 10px;
          width: 90%;
        }
        .form-container form>input[type='number']{
          width: 90%;
        margin-left: 0px;
      }
      .home-form form>input[type='number']{
          margin-left: 15px;
      }
      .categories{
          flex-direction: column;
            margin: 0px 0px 0px -30px;  
            height: inherit;       
      }
      .categories>strong{
          border: 1px solid #beb7b7;
          padding: 12px;
          background: white;
          box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
          width: 50%;
          margin-left: 35px;
          border-radius: 5px;
          width: fit-content;
      }
      .categories>strong>i{
        opacity: 100%;
      }
      .categoriesItem{
        background: white;
        padding: 20px;
        margin: 60px 0px 0px 170px ;
        border: 1px solid rgba(0,0,0,0.1);
        position: absolute;
        z-index: 9999;
        width: 77%;
        opacity: 0;
    }
    .categoriesActive{
        opacity: 100%;
    }
    .sortedBy{
       margin-top:-55px;
    }

}
.form-container form input[type='submit'] {
    color: white;
    padding: 15px 58px;
    background-image: linear-gradient(to top, #1976bc 0%, #8dc645 100%);
    transition: background-image 0.9s ease; /* Reduced transition duration */
  }
  
  .form-container form input[type='submit']:hover {
    background-image: linear-gradient(to right, #1976bc 0%, #8dc645 100%);
    cursor: pointer;
  }