 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap');
.speedDial {
    /* position: fixed; */
    width: 40px;
    height:41px ;
    border-radius: 100%;
    margin: 0 0 0 30px;
}
.header{
    font-family: 'Montserrat', sans-serif;
}
.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: white;
    padding: 2px;

  }
  
  .menuBurger{
    height: 4vmax;
  }
nav .logoSection img{
    width: auto;
    height: 40px;
    display: block;
}
.header .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    width: 100%;
    max-width: 1260px;
    height: 90px;
    margin: auto;
}
.navlist ul{
    display: flex;
    font-size: 16px;
    margin: inherit;
}
.navlist ul li{
    position: relative;

    /* padding: 10px; */
    /* height: fit-content; */
    margin:0 1vmax;
}
.navlist>ul>li>a{
    background: inherit;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0px 13px;
    transition: ease-in-out .3ms;
    letter-spacing: 1px;
    color: #181818;
    line-height: 40px;
    /* padding: 0; */
    font-weight: 550;
    letter-spacing: -.03em;
    transition: all .5s;
}

.navlist>ul>li>a.active{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 5px;
    cursor: pointer;
    border-bottom: 2px solid transparent ;
    background: #fff;   
    color: yellowgreen;
    border-bottom: 1px solid;
    transition: all .5ms;
    padding: 10px 20px;
}
.navlist>ul>li>ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #972525;
    color: #d8cfcf;
    display: none;
    width: 100%;
    z-index: 999;
    margin-left: 10px;
}
.navlist>ul>li:hover ul{
    /* transition: all 10s; */
    display: flex;
    width: 200px;
    /* top:0px; */

}
.nav_list>a:last-child i{
    border: 1px solid #1976bc;
    padding: 10px 12px;
    border-radius: 5px;
    margin-left:20px ;
    background: white;
    transition: ease-in-out .3s;
    color: #59aff0;

}
.nav_list>a:last-child:hover i{
    color: yellowgreen;
    border-color: yellowgreen;
}

.navlist>ul li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
}

.navlist>ul li a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: rgb(197, 48, 48);
    background: linear-gradient(to right,#1976bc 0%,#8dc645 100%);

    transition: width .35s ease;
}

.navlist>ul li a:hover:before,
.navlist>ul>li>a.active::before
    {
    width: 100%;
    background: linear-gradient(to right,#1976bc 0%,#8dc645 100%);
    transition: width .35s ease;
}
.navlist>ul>li:hover{
    transition: all .5ms;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 5px;
    cursor: pointer;
    background: #fff;   
}
.navlist>ul li a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.menuBurger{
    display: none;
}

.nav-user{
    width: 50%;
    height: 50%;
    border: 1px solid red; 
}
/* .nav-user>img{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */
@media only screen and (max-width:600px){
    /* .header{
        display: none;
    }
    .menuBurger{
        display: flex;
        height: 30px;
    } */
}