.speedDial {
    /* position: fixed; */
    width: 40px;
    height:41px ;
    border-radius: 100%;
    margin: 0 0 0 30px;
}

.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: white;
    padding: 2px;

  }
  
  .menuBurger{
    height: 4vmax;
  }
nav .logoSection img{
    width: auto;
    height: 40px;
    display: block;
}
.header .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    width: 100%;
    max-width: 1260px;
    height: 90px;
    margin: auto;
}
.navlist ul{
    display: flex;
    font-size: 16px;
    margin: inherit;
}
.navlist ul li{
    position: relative;

    /* padding: 10px; */
    /* height: fit-content; */
}
.navlist>ul>li>a{
    background: inherit;
    margin:0 1vmax;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px 13px;
    transition: ease-in-out .3ms;
    letter-spacing: 1px;
}
.navlist>ul>li>a.active,
.navlist>ul>li>a:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 5px;
    cursor: pointer;
    border-bottom: 2px solid transparent ;
    background: #fff;   
    color: yellowgreen;
    border-bottom: 1px solid;
    transition: all .5ms;
}
.navlist>ul>li>ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #972525;
    color: #d8cfcf;
    display: none;
    width: 100%;
    z-index: 999;
    margin-left: 10px;
}
.navlist>ul>li:hover ul{
    /* transition: all 10s; */
    display: flex;
    width: 200px;
    /* top:0px; */

}
.nav_list>a:last-child i{
    border: 1px solid #1976bc;
    padding: 10px 12px;
    border-radius: 5px;
    margin-left:20px ;
    background: white;
    transition: ease-in-out .3s;
    color: #59aff0;

}
.nav_list>a:last-child:hover i{
    color: yellowgreen;
    border-color: yellowgreen;
}
.menuBurger{
    display: none;
}

.nav-user{
    width: 50%;
    height: 50%;
    border: 1px solid red; 
}
/* .nav-user>img{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */
@media only screen and (max-width:600px){
    /* .header{
        display: none;
    }
    .menuBurger{
        display: flex;
        height: 30px;
    } */
}