.profile-container{
    width: 100vw;
    height: 100vh;
    background: rgb(220, 217, 217);
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 30px;
    padding: 30px;

}

.profile-user{
    display: flex;
    background: #fff;
    align-items: center;
    border-radius: 5px;
    
}
.profile-user>img{
    padding: 10px;
    width: 30%;
    border-radius: 100%;
}
.profile-name{
    color: #3d3d3d;
    line-height: 20px;
}
.profile-nav{
    background: #fff;
    margin-top: 30px;
    border-radius: 5px;
    /* padding: 10px; */
}


.profile-nav>nav>ul li{
    padding: 14px 20px;
}
.profile-nav>nav>ul>a{
    display: flex;
    font-size: 19px;
    color: #3d3d3d;
    justify-content: space-between;
    transition: all .5s;
}
.profile-nav>nav i{
    margin-right: 10px;
    transition: all .5s;
}
.profile-nav>nav>ul>a>i{
    display: flex;
    justify-content:flex-end;
    position: relative;
    align-items:center;
    right: 0; 
    transition: all .1s;
}
.profile-nav>nav>ul>a:hover{
    color: yellowgreen;
    /* color: rgb(252, 247, 247); */
    border: none;
}
.profile-nav>nav>ul>a:hover i{
    margin-left: 10px;
    opacity: 1;
}
.active>i{
    opacity: 1;
}
.profile-nav>nav>ul>a>i{
    opacity: .1;    
}
.profile-info{
    background: #fff;
    padding: 2rem 5rem;
}

.profile-info-container{
    display: flex;
    flex-direction: column;
}
.profile-info-container>strong{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 20px;
}
.profile-info-container>form>label{
    margin: 1rem 0 .2rem 0;
    font-weight: 600;
}
.profile-info-container>form>div{
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.profile-info-container>form>div>input{
    padding: 1rem 1rem 1rem 3rem;
    /* margin: 10px; */
    /* border: 1px solid rgba(0,0,0,0.2); */
    border: none;
    background-color: rgba(31, 29, 29, 0.089);
    border-radius: 5px;
    width: 100%;
}
.profile-info-container i{
    position: absolute;
    margin-left: 20px;
}
.profile-info-container>form> .profile-user{
    width: 50%;
    margin-top: 20px;
}

.profile-user>input[type= file]{
    border: 1px solid red;

}
.profile-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
  }
  
  .form__user-photo {
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    margin-right: 2rem;
  }
  
  .form__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .form__upload:focus + label {
    outline: 3px solid #e9eeeb;
    outline-offset: 3px;

  }
  
  .form__upload + label {
    color: #3d3d3d;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #3d3d3d;
    padding: 3px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 1rem;
  }
  .form__upload + label:hover {
    background-color:#3d3d3d;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-1px);
  }

  .right{
    position: absolute;
    right: 10%;
    text-align:left!important;

  }